* {
    background-color: #212121;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    cursor: default;
    margin: 0;
    padding: 0;
    z-index: 1;
}

a{
    cursor: pointer;
    text-decoration: none;
}
/* UPLOAD PAGE */

/* NAVBAR */
nav .title-text {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #5E5DF0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 3;
}

nav a h1{
    cursor: pointer;
}
/* MAIN BODY */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

main div {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flashcard box organizer */
div .flash-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #5E5DF0;
    width: 500px;
    height: 500px;
}

div .flashcard-box{
    width: 400px;
    height: 250px;
    border-radius: 8px;
    border: 2px solid #5E5DF0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

div .flashtext-div{
    height: 80%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

div .refresh-div{
    height: 10%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
}

.refresh-div a{
    cursor: pointer;
    padding: 1px;
}

.refresh-div a svg{
    height: fit-content;
    width: 20px;
    color: #aaa;
    cursor: pointer;
}

div .flashcard-hint{
    height: 10%;
    width: 100%;
    padding-bottom: 5px;
}

.flashcard-hint h4{
    color: #aaa;
    cursor: pointer;
}

div .arrow-buttons{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

div .arrow-buttons svg path:hover{
    stroke: #5E5DF0;
    stroke-width: 2px;
}

.arrow-buttons svg{
    overflow: visible;
}

.arrow-buttons svg path {
    cursor: pointer;
}

#forward-arrow svg{
    transform: rotate(180deg);
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding-bottom: 1rem;
    height: 10vh;
}

footer h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #aaa;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media only screen and (max-width: 600px) {
    
    div .flash-container {
        width: 100%;
        min-width: 400px;
        max-height: 300px;
        height: auto;
        flex-direction: column;
    }

    div .flashcard-box {
        width: 100%;
        max-width: none;
    }

    nav .title-text {
        font-size: 1.2rem;
    }

    .refresh-div a svg {
        width: 1rem;
    }

    .arrow-buttons a svg{
        width: 2rem;
    }
}